<form (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="nombre" class="form contro">Nombre</label>
        <input type="text" formControlName="nombre" class="form-control">
    </div>
    <div class="form-group">
        <label for="" class="form-control">Apellidos</label>
        <input formControlName="apellidos" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="" class="form-control">Empresa</label>
        <input formControlName="empresa" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="" class="form-control">Telefono</label>
        <input formControlName="telefono" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="" class="form-control">Email</label>
        <input formControlName="email" type="text" class="form-control">
    </div>
    <div class="form-group">
        <button type="submit">Enviar</button>
    </div>
</form>